@using WatchStore.Models
@model IEnumerable<Watch>
@{
    ViewBag.Title = "Watch";
    var model = Model == null ? new List<Watch>() : Model ;

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Name)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Color)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Description)
        </th>
        <th style="padding:10px">
            @Html.DisplayNameFor(m => m.Gender)
        </th>
        <th style="padding:10px">
            @Html.DisplayNameFor(m => m.Image)
        </th>
        <th style="padding:10px">
            @Html.DisplayNameFor(m => m.PublishYear)
        </th>
        <th style="padding:10px">
            @Html.DisplayNameFor(m => m.BasePrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Color)
            </td>
            <th>
                @Html.DisplayFor(m => item.Description)
            </th>
            <td>
                @Html.DisplayFor(m => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(m => item.Image)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.PublishYear)
            </td>
            <td style="padding:10px">
                @Html.DisplayFor(mItem => item.BasePrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
